aiohttp==3.8.1
aiosignal==1.2.0
aniso8601==9.0.1
async-timeout==4.0.2
attrs==22.1.0
beautifulsoup4==4.11.1
bs4==0.0.1
cachetools==5.2.0
certifi==2022.6.15
charset-normalizer==2.1.1
click==8.1.3
Deprecated==1.2.13
distlib==0.3.5
doqu==0.28.2
et-xmlfile==1.1.0
filelock==3.8.0
Flask==2.2.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
Flask-SSLify==0.1.5
frozenlist==1.3.1
future==0.18.2
google-api-core==2.8.2
google-api-python-client==2.57.0
google-auth==2.11.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.2
googleapis-common-protos==1.56.4
gspread==5.4.0
gunicorn==20.1.0
httplib2==0.20.4
idna==3.3
ink-extensions==1.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
keepa==1.3.2
loader==2017.9.11
Logbook==1.5.3
lxml==4.9.1
MarkupSafe==2.1.1
marshmallow==3.17.1
multidict==6.0.2
numpy==1.21.6
oauth2client==4.1.3
oauthlib==3.2.0
openpyxl==3.0.10
packaging==21.3
pandas==1.3.5
pendulum==2.1.2
platformdirs==2.5.2
plotink==1.6.2
protobuf==4.21.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyDrive==1.3.1
pyparsing==3.0.9
pyserial==3.5
python-dateutil==2.8.2
pytz==2022.2.1
pytzdata==2020.1
PyYAML==6.0
redis==4.3.4
redis-queue==0.5
requests==2.28.1
requests-oauthlib==1.3.1
rq==1.11.0
rsa==4.9
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.40
termcc==2019.8.2
terminaltables==3.1.10
tqdm==4.64.0
uritemplate==4.1.1
urllib3==1.26.11
virtualenv==20.16.3
webargs==8.2.0
Werkzeug==2.2.2
worker==2018.4.1
wrapt==1.14.1
yarl==1.8.1
